In [8]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow import keras
from tensorflow.keras.layers import Dense, LSTM, Dropout, Flatten
from tensorflow.keras import Sequential
import matplotlib.pyplot as plt 
from statsmodels.graphics.tsaplots import plot_acf

In [9]:
bitDS = pd.read_csv("dataset/bitstampUSD_1-min_data_2012-01-01_to_2020-12-31.csv")

In [10]:
bitDS.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
bitDS["Timestamp"] = pd.to_datetime(bitDS["Timestamp"] ,unit="s").dt.date

In [12]:
bitDS.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,2011-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
group = bitDS.groupby('Timestamp')
ds = group['Weighted_Price'].mean()

In [14]:
ds.head(10)

Timestamp
2011-12-31    4.471603
2012-01-01    4.806667
2012-01-02    5.000000
2012-01-03    5.252500
2012-01-04    5.208159
2012-01-05    6.284127
2012-01-06    6.438999
2012-01-07    6.800000
2012-01-08    6.950000
2012-01-09    6.582770
Name: Weighted_Price, dtype: float64

In [15]:
# last 50 rows as the test data.
train_df = ds.iloc[0: -50]
test_df = ds.iloc[-50:]
print("Nr. of observations in the train set",train_df.shape)
print("Nr. of observations in the test set",test_df.shape)

Nr. of observations in the train set (3236,)
Nr. of observations in the test set (50,)

In [16]:
#Convert to 1-dimensional
training_values = train_df.values
training_values = np.reshape(training_values, (len(training_values), 1))

#Scale data
scaler = MinMaxScaler()
training_values = scaler.fit_transform(training_values)
x_train = training_values[0: len(training_values)-1]
y_train = training_values[1: len(training_values)]
x_train = np.reshape(x_train, (len(x_train), 1, 1))

In [17]:
model = Sequential()
model.add(LSTM(10,input_shape = (None,1), activation="relu", return_sequences=True))

model.add(Dense(1))

In [18]:
model.compile(loss="mean_squared_error",optimizer="adam")

In [19]:
y_train.shape

(3235, 1)

In [20]:
model.fit(x_train,y_train,epochs=50,batch_size=32)

Epoch 1/50
102/102 [==============================] - 0s 1ms/step - loss: 0.0542
Epoch 2/50
102/102 [==============================] - 0s 1ms/step - loss: 0.0353
Epoch 3/50
102/102 [==============================] - 0s 1ms/step - loss: 0.0278
Epoch 4/50
102/102 [==============================] - 0s 1ms/step - loss: 0.0194
Epoch 5/50
102/102 [==============================] - 0s 1ms/step - loss: 0.0110
Epoch 6/50
102/102 [==============================] - 0s 1ms/step - loss: 0.0048
Epoch 7/50
102/102 [==============================] - 0s 1ms/step - loss: 0.0017
Epoch 8/50
102/102 [==============================] - 0s 1ms/step - loss: 6.3596e-04
Epoch 9/50
102/102 [==============================] - 0s 1ms/step - loss: 3.9580e-04
Epoch 10/50
102/102 [==============================] - 0s 1ms/step - loss: 3.4908e-04
Epoch 11/50
102/102 [==============================] - 0s 1ms/step - loss: 3.4088e-04
Epoch 12/50
102/102 [==============================] - 0s 1ms/step - loss: 3.3558e-04
Epoch 13/50
102/102 [==============================] - 0s 1ms/step - loss: 3.3207e-04
Epoch 14/50
102/102 [==============================] - 0s 1ms/step - loss: 3.2389e-04
Epoch 15/50
102/102 [==============================] - 0s 1ms/step - loss: 3.1821e-04
Epoch 16/50
102/102 [==============================] - 0s 1ms/step - loss: 3.1207e-04
Epoch 17/50
102/102 [==============================] - 0s 1ms/step - loss: 3.0263e-04
Epoch 18/50
102/102 [==============================] - 0s 1ms/step - loss: 2.9291e-04
Epoch 19/50
102/102 [==============================] - 0s 1ms/step - loss: 2.8597e-04
Epoch 20/50
102/102 [==============================] - 0s 1ms/step - loss: 2.7874e-04
Epoch 21/50
102/102 [==============================] - 0s 1ms/step - loss: 2.7297e-04
Epoch 22/50
102/102 [==============================] - 0s 1ms/step - loss: 2.6490e-04
Epoch 23/50
102/102 [==============================] - 0s 1ms/step - loss: 2.5959e-04
Epoch 24/50
102/102 [==============================] - 0s 1ms/step - loss: 2.7166e-04
Epoch 25/50
102/102 [==============================] - 0s 1ms/step - loss: 2.4478e-04
Epoch 26/50
102/102 [==============================] - 0s 1ms/step - loss: 2.3636e-04
Epoch 27/50
102/102 [==============================] - 0s 1ms/step - loss: 2.3091e-04
Epoch 28/50
102/102 [==============================] - 0s 999us/step - loss: 2.2218e-04
Epoch 29/50
102/102 [==============================] - 0s 1ms/step - loss: 2.1659e-04
Epoch 30/50
102/102 [==============================] - 0s 995us/step - loss: 2.1051e-04
Epoch 31/50
102/102 [==============================] - 0s 1ms/step - loss: 2.0300e-04
Epoch 32/50
102/102 [==============================] - 0s 1ms/step - loss: 1.9507e-04
Epoch 33/50
102/102 [==============================] - 0s 1ms/step - loss: 1.8528e-04
Epoch 34/50
102/102 [==============================] - 0s 1ms/step - loss: 1.7753e-04
Epoch 35/50
102/102 [==============================] - 0s 1ms/step - loss: 1.6860e-04
Epoch 36/50
102/102 [==============================] - 0s 981us/step - loss: 1.6252e-04
Epoch 37/50
102/102 [==============================] - 0s 1ms/step - loss: 1.5394e-04
Epoch 38/50
102/102 [==============================] - 0s 985us/step - loss: 1.4520e-04
Epoch 39/50
102/102 [==============================] - 0s 1ms/step - loss: 1.4139e-04
Epoch 40/50
102/102 [==============================] - 0s 1ms/step - loss: 1.3489e-04
Epoch 41/50
102/102 [==============================] - 0s 1ms/step - loss: 1.2804e-04
Epoch 42/50
102/102 [==============================] - 0s 1ms/step - loss: 1.2135e-04
Epoch 43/50
102/102 [==============================] - 0s 1ms/step - loss: 1.1768e-04
Epoch 44/50
102/102 [==============================] - 0s 1ms/step - loss: 1.1875e-04
Epoch 45/50
102/102 [==============================] - 0s 1ms/step - loss: 1.1181e-04
Epoch 46/50
102/102 [==============================] - 0s 1ms/step - loss: 1.1007e-04
Epoch 47/50
102/102 [==============================] - 0s 1ms/step - loss: 1.1078e-04
Epoch 48/50
102/102 [==============================] - 0s 1ms/step - loss: 1.0868e-04
Epoch 49/50
102/102 [==============================] - 0s 1ms/step - loss: 1.1014e-04
Epoch 50/50
102/102 [==============================] - 0s 1ms/step - loss: 1.1120e-04