In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv("../input/movielens-20m-dataset/movie.csv")
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
df.shape

(27278, 3)

In [4]:
df.drop(['genres'],axis=1,inplace=True)

In [5]:
# import rating dataset
rating = pd.read_csv("../input/movielens-20m-dataset/rating.csv")

# columns
rating.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [6]:
rating = rating.loc[:,["userId","movieId","rating"]]
rating.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [7]:
df = pd.merge(df,rating)
df.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5

In [8]:
df.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5

In [9]:
df.shape

(20000263, 4)

In [10]:
df = df.iloc[:1000000]
df.shape

(1000000, 4)

In [11]:
df.describe()

              movieId          userId         rating
count  1000000.000000  1000000.000000  1000000.00000
mean        52.248951    69132.673651        3.56875
std         41.348656    40016.765553        1.05202
min          1.000000        1.000000        0.50000
25%         19.000000    34437.000000        3.00000
50%         42.000000    69262.500000        4.00000
75%         88.000000   103680.000000        4.00000
max        147.000000   138493.000000        5.00000

In [12]:
df.groupby("title").mean()['rating'].sort_values(ascending=False)

title
Usual Suspects, The (1995)                   4.334372
Taxi Driver (1976)                           4.110576
Persuasion (1995)                            4.057546
Seven (a.k.a. Se7en) (1995)                  4.053493
Braveheart (1995)                            4.042534
                                               ...
NeverEnding Story III, The (1994)            2.312137
Lawnmower Man 2: Beyond Cyberspace (1996)    2.144243
Gospa (1995)                                 2.142857
Headless Body in Topless Bar (1995)          2.062500
Kids of the Round Table (1995)               1.871429
Name: rating, Length: 146, dtype: float64